/* FeaturedBox.css */

.featured-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
  }
  
  .reverse-layout {
    flex-direction: row-reverse;
  }
  
  .featured-text,
  .featured-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .featured-name {
    font-size: 1.8em; /* Adjust for larger text */
    font-weight: bold;
  }
  
  .featured-text-info p {
    margin: 5px 0; /* Ensures each line in the info has space */
  }
  
  .image img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Control the image size */
  }
  